.header{ box-shadow: 0px 0px 0px black !important; }
.contents{ position: relative; width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; }
.findPW__form{ transform: translateY(-30%); width: 400px; }
.findPW__logo{ position: absolute; z-index: -1; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.findPW__title{ margin: 1.875rem 0; text-align: center; font-size: 28px; font-weight: 700; }
.findPW__subTitle{ margin: 0.563rem 0px; padding-left: 20px; }
.findPW__input--id{ margin: 0.563rem 0px; padding: 0.75rem 1.25rem; width: 100%; border-radius: 0.125rem; background-color: #F3F9FA; }
.findPW__input--email{ margin: 0.563rem 0px; padding: 0.75rem 1.25rem; width: 100%; border-radius: 0.125rem; background-color: #F3F9FA; }
.findPW__input--confirm{ display: none; margin: 0.563rem 0px; padding: 0.75rem 1.25rem; width: 100%; border-radius: 0.125rem; background-color: #F3F9FA; }
.findPW__input--password{ display: none; margin: 0.563rem 0px; padding: 0.75rem 1.25rem; width: 100%; border-radius: 0.125rem; background-color: #F3F9FA; }
.findPW__input--password-new{ display: none; margin: 0.563rem 0px; padding: 0.75rem 1.25rem; width: 100%; border-radius: 0.125rem; background-color: #F3F9FA; }
.findPW__input--button{ transition: 600ms ease-in-out; margin-top: 0.563rem; padding: 0.75rem 0px; width: 100%; background-color: var(--main-color2); border-radius: 0.125rem; cursor: pointer; font-size: 1.125rem; font-weight: 500; }
.findPW__input--button:hover{ filter: brightness(1.1); }
.findPW__input--id-check{ display: none; margin-left: 0.625rem; align-self: flex-start; font-size: 0.75rem; color: red; }
.findPW__input--email-check{ display: none; margin-left: 0.625rem; align-self: flex-start; font-size: 0.75rem; color: red; }
.findPW__input--password-check{ display: none; margin-left: 0.625rem; align-self: flex-start; font-size: 0.75rem; color: red; }