/* 회원가입 약관 CSS */
.conditions__contents{ padding: 7rem 0; position: relative; width: 100%; display: flex; justify-content: center; align-items: center; }
.join__contents{ padding: 7rem 0; position: relative; width: 100%; height: 100vh; overflow: hidden; display: flex; justify-content: center; align-items: center; }
.join{ display: flex; flex-direction: column; justify-content: center; align-items: center; }

.join__conditions{ display: flex; flex-direction: column; justify-content: center; align-items: center; }
.join__conditions--form{ margin-top: 0.9375rem; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; }
.join__conditions--header{ padding: 0.6875rem 0.5625rem; display: flex; justify-content: flex-start; align-items: flex-start; }
.join__conditions--header-title{ margin-left: 0.6875rem; font-size: 1rem; font-weight: 400; }
.join__conditions--center{ padding: 1.25rem 1.5rem; width: 28.75rem; height: 8.75rem; overflow-y: auto; font-size: 0.75rem; font-weight: 400; background-color: #F3F9FA; }

.conditions-svg{ cursor: pointer; }
.conditions-svg:hover #ellipse_10{ fill:var(--main-color1); stroke: var(--main-color1); }
.conditions-svg:hover #path_130{ stroke: var(--main-white); }
.conditions-svg:hover #ellipse_10{ fill:var(--main-color1); stroke: var(--main-color1); }
.conditions-svg:hover #path_130{ stroke: var(--main-white); }

.join__conditions--check-use:checked ~ .join__conditions--form .join__conditions--use-svg #ellipse_10{ fill:var(--main-color1); stroke: var(--main-color1); }
.join__conditions--check-use:checked ~ .join__conditions--form .join__conditions--use-svg #path_130{ stroke: var(--main-white); }
.join__conditions--check-info:checked ~ .join__conditions--form .join__conditions--info-svg #ellipse_10{ fill:var(--main-color1); stroke: var(--main-color1); }
.join__conditions--check-info:checked ~ .join__conditions--form .join__conditions--info-svg #path_130{ stroke: var(--main-white); }
.join__conditions--check-gps:checked ~ .join__conditions--form .join__conditions--gps-svg #ellipse_10{ fill:var(--main-color1); stroke: var(--main-color1); }
.join__conditions--check-gps:checked ~ .join__conditions--form .join__conditions--gps-svg #path_130{ stroke: var(--main-white); }

.join__conditions--button{ margin-top: 0.9375rem; display: flex; justify-content: center; align-items: center; }
.join__conditions--button > *{ margin: 0px 0.3125rem; padding: 0.75rem 0px; width: 12.5rem; font-size: 1.125rem; text-align: center; font-weight: 500; background-color: var(--main-color2); border-radius: 0.125rem; cursor: pointer; }
.join__conditions--not{ display: none; margin-top: 0.9375rem; text-align: center; font-size: 0.75rem; color: red; }

.join__background{ position: absolute; z-index: -1; left: 50%; top: 50%; transform: translate(-50%, -48%); }

.join__form{ margin-top: 3.125rem; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.join__form--input{ margin: 0.5rem 0px; padding: 0.75rem 1.25rem; width: 25rem; border-radius: 0.125rem; background-color: #F3F9FA; }
.join__form--input-email{ width: 18.75rem; }
.join__form--button{ margin-top: 1.25rem; padding: 0.75rem 0px; width: 100%; background-color: var(--main-color2); border-radius: 0.125rem; cursor: pointer; font-size: 1.125rem; font-weight: 500; text-align: center; }
.join__form--not{ display: none; margin-left: 0.625rem; align-self: flex-start; font-size: 0.75rem; color: red; }

.email__confirm{ width: 100%; display: flex; justify-content: space-between; align-items: center; background-color: #fff; }
.email__confirm--text{ margin: 0.5rem 0px; padding: 0.75rem 1.25rem; width: 18.75rem; border-radius: 0.125rem; background-color: #F3F9FA; }
.email__confirm--button{ margin: 0.5rem 0px; padding: 0.75rem 1.875rem; text-align: center; border-radius: 0.125rem; background-color: var(--main-color3); color: #fff; cursor: pointer; }
.email__confirm--box{ display: none; }