/* 사이드 메뉴 CSS */
.contents{ position: relative; padding-top: calc(36px + 70px); width: 100%; display: flex; justify-content: center; align-items: flex-start; }
.contents__left{ position: fixed; left: 0; top: calc(36px + 70px); padding-top: 80px; width: 360px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.contents__left--menu{ position: relative; margin-bottom: 24px; padding: 8px 0px; width: 50%; text-align: center; border: 1px solid rgba(0, 0, 0, 0); cursor: pointer; }
.contents__left--menu:hover .menu__hover--svg{ transition: 300ms ease-in-out; opacity: 1; }
.contents__left--menu a{ font-size: 24px; font-weight: 500; }
.menu__hover--svg{ opacity: 0; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -48%); }


/* 메인 컨텐츠 CSS */
.contents__center{ position: relative; min-width: 1200px; width: 1200px; }
.missions{ width: 100%; display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start; }
.missions__list:nth-child(n-3){ width: 30%; }
.missions__list:nth-child(2){ margin: 0px 5%; }
.missions__list:nth-child(n+4){ width: 19%; }
.missions__list:nth-child(5){ margin: 0px 15px; }
.missions__list:nth-child(7){ margin: 0px 15px; }
.missions__list--image{ position: relative; width: 100%; height: 410px; }
.missions__list--image img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.missions__list--image-opacity{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; background-color: rgba(0, 0, 0, 0.15); }
.missions__list--info{ padding-right: 16px; width: 83.25%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; background-color: #fff; transform: translateY(-48px); }
.missions__list--info > *{ margin-top: 20px; }
.missions__list--info-title{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 19px; font-weight: 700; }
.missions__list--info-text{ overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 100%; height: 48px; font-size: 16px; font-weight: 400; white-space: normal; }
.missions__list--info-writer{ margin-top: 14px; font-size: 15px; font-weight: 300; }
.missions__list:nth-child(n+4) .missions__list--image{ height: 256px; }
.missions__list:nth-child(n+4) .missions__list--info > *{ margin-top: 14px; }
.missions__list:nth-child(n+4) .missions__list--info-title{ font-size: 14px; font-weight: 500; }
.missions__list:nth-child(n+4) .missions__list--info-text{ height: 33px; font-size: 12px; font-weight: 400; }
.missions__list:nth-child(n+4) .missions__list--info-writer{ font-size: 10px; font-weight: 300; }