/* 메인 슬라이드 CSS */
.slide{ width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; }
.slide__title{ padding-left: 6.875rem; font-size: 5.625rem; font-weight: 900; color: #2EA0AA; opacity: 0.2; transform: translateY(100%); }
.slide__container{ width: 100%; display: flex; justify-content: flex-start; align-items: center; }
.slide__wrapper{ width: 100%; display: flex; }
.slide__contents{ display: flex; justify-content: flex-start; align-items: flex-start; }

.slide__event{ margin-left: 4.75rem; width: 100%; display: none; grid-template-rows: repeat(3, 1fr); row-gap: 1rem; }
.slide__event--banner{ cursor: pointer; animation: fadeUp 600ms ease-in forwards; opacity: 0; transform: translateY(2rem); position: relative; width: 100%; height: 190px; overflow: hidden; border-radius: 0.75rem; background-color: var(--main-color1); }
.slide__event--banner-img{ position: absolute; left: 50%; top: 50%; width: 100%; height: 100%; transform: translate(-50%, -50%); object-fit: cover; }

.slide__left{ width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; }
.slide__menu{ display: flex; flex-direction: column; justify-content: center; align-items: center; }
.slide__menu--text{ cursor: pointer; }
.slide__menu--text.active *{ opacity: 1; }
.slide__contents--wrapper{ margin-left: 4.75rem; }
.slide__mission{ display: none; opacity: 0; }
.slide__mission.now{ display: block; animation: fade 600ms ease-in forwards; }
.slide__mission--hash{ display: flex; justify-content: flex-start; align-items: center; }
.slide__mission--hash-tag{ margin-right: 0.65rem; padding: 0.25rem 1rem; max-width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 0.25rem; background-color: var(--main-color1); color: var(--main-white); font-size: 16px; font-weight: 400; }
.slide__mission--title{ margin-top: 1rem; max-width: 92.5%; font-size: 26px; font-weight: 700; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.slide__mission--text{ display:-webkit-box; margin-top: 1rem; width: 21.88rem; font-size: 22px; font-weight: 400; word-wrap:break-word; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; }
.slide__mission--writer{ margin-top: 1rem; font-size: 1rem; font-weight: 400; }
.slide__mission--deadline{ font-size: 1rem; font-weight: 400; }
.slide__mission--buttons{ margin-top: 1.75rem; display: flex; justify-content: flex-start; align-items: center; }
.slide__mission--buttons *{ margin-right: 1rem; }
.slide__mission--buttons svg{ cursor: pointer; }

.slide__right{ width: 50%; display: flex; justify-content: center; align-items: center; }
.slide__right--wrapper{ position: relative; width: 100%; padding-top: 100%; transform: translateX(80%); transition: 600ms ease-in-out; }
.slide__right--circle{ transition: 300ms ease-in-out; position: absolute; z-index: -1; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 70%; width: 40.5rem; height: 40.5rem; background-color: var(--main-color1); box-shadow: 0px 0px 16px #2EA0AA; }
.slide__right--before-circle{ transition: 1s linear; position: absolute; z-index: -1; left: 50%; top: 48%; transform: translate(-50%, -50%); border-radius: 70%; width: 100rem; height: 100rem; background-color: var(--main-color1); opacity: 0.17; }
.slide__right--after-circle{ transition: 1s linear; position: absolute; z-index: -1; left: 50%; top: 52%; transform: translate(-50%, -50%); border-radius: 70%; width: 100rem; height: 100rem; background-color: var(--main-color1); opacity: 0.17; }
.slide__right--center-circle{ transition: 1s linear; position: absolute; z-index: -1; left: 50%; top: 52%; transform: translate(-50%, -50%); border-radius: 70%; width: 100rem; height: 100rem; background-color: var(--main-color1); opacity: 0.17; }
.slide__right--mission{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(0deg); filter: grayscale(100%); transition: 600ms ease-in-out; width: 12rem; height: 12rem; border-radius: 0.75rem; overflow: hidden; box-shadow: 0px 0px 8px rgba(0, 0, 0, 1); }
.slide__right--mission.now{ width: 20rem; height: 20rem; filter: grayscale(0%); }
.slide__right--mission:nth-child(5){ left: -50%; top: 50%; transform: translate(-50%, -50%) rotate(0deg); }
.slide__right--mission:nth-child(6){ left: -22.5%; top: 122.5%;transform: translate(-50%, -50%) rotate(-45deg); }
.slide__right--mission:nth-child(7){ left: 50%; top: 150%; transform: translate(-50%, -50%) rotate(-90deg); }
.slide__right--mission:nth-child(8){ left: 122.5%; top: 122.5%; transform: translate(-50%, -50%) rotate(-135deg); }
.slide__right--mission:nth-child(9){ left: 150%; top: 50%; transform: translate(-50%, -50%) rotate(-180deg); }
.slide__right--mission:nth-child(10){ left: 122.5%; top: -22.5%; transform: translate(-50%, -50%) rotate(-225deg); }
.slide__right--mission:nth-child(11){ left: 50%; top: -50%; transform: translate(-50%, -50%) rotate(-270deg); }
.slide__right--mission:nth-child(12){ left: -22.5%; top: -22.5%; transform: translate(-50%, -50%) rotate(-315deg); }
.slide__right--mission-img{ position: absolute; width: 100%; height: 100%; object-fit: cover; }

/* 메인 컨텐츠 CSS */
.contents{ padding: 0; }
.contents__center{ position: relative; max-width: 75rem; width: 100%; flex-direction: column; }
.missions__header{ margin-top: 12rem; position: relative; }
.missions__title{ font-size: 2.625rem; font-weight: 700; }
.missions__header--circle{ transition: 300ms ease-in-out; position: absolute; z-index: -1; left: 0; top: 0; transform: translate(-65%, -40%); width: 21.25rem; height: 21.25rem; border-radius: 70%; overflow: hidden; background-color: var(--main-color1); opacity: 0.7; }
.missions__wrapper{ margin: 2.5rem 0; width: 100%; }
.missions{ width: 100%; display: grid; grid-template-columns: 1fr 1fr 1fr; column-gap: 20px; justify-content: flex-start; align-items: flex-start; }
.missions__wrapper .missions:nth-child(2n){ grid-template-columns: 1fr 1fr 1fr 1fr !important; }
.missions__list{ margin-bottom: 1.625rem; padding-bottom: 1.75rem; width: 100%; opacity: 0; transform: translateY(2rem); transition: all 600ms ease-in-out; border-bottom: 1px solid #000; }
.missions__list--image{ position: relative; width: 100%; height: 25.63rem; overflow: hidden; border-radius: 0.75rem; }
.missions__list--image img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.missions__list--image-opacity{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; background-color: rgba(0, 0, 0, 0.15); }
.missions__list--info{ width: 100%; display: grid; grid-template-rows: repeat(3, 0.5fr); place-items: flex-start; row-gap: 10px; background-color: #fff; }
.missions__list--info > *{ margin-top: 1.25rem; }
.missions__list--info-hash{ width: 100%; height: 32px; display: flex; flex-wrap: wrap; overflow: hidden; }
.missions__list--hash-text{ margin-right: 0.65rem; padding: 0.25rem 1rem; max-width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 0.25rem; background-color: var(--main-color1); color: var(--main-white); font-size: 16px; font-weight: 400; }
.missions__list--info-title{ width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.25rem; font-weight: 700; }
.missions__list--info-writer{ margin-top: 0.875rem; font-size: 1.125rem; font-weight: 400; }   

@keyframes bubble {
    0%{ border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ; }
    25%{ border-radius: 46% 54% 54% 46% / 54% 41% 59% 46% ; }
    50%{ border-radius: 46% 54% 54% 46% / 63% 23% 77% 37% ; }
    75%{ border-radius: 27% 73% 41% 59% / 54% 52% 48% 46% ; }
    100%{ border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ; }
}

@keyframes fadeUp {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}