/* 상단 컨텐츠 CSS */
.contents{ position: relative; padding-top: calc(0 + 4.375rem); width: 100%; display: flex; justify-content: center; align-items: flex-start; }

.mypage__modal{ padding-top: 113px; position: fixed; left: 0; top: 0; z-index: 40; width: 100vw; height: 100vh; overflow: hidden; display: none; flex-direction: column; justify-content: flex-start; align-items: center; background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(2px); }
.mypage__modal--contents{ padding: 2.375rem 0; display: flex; flex-direction: column; justify-content: flex-end; align-items: center; width: 100%; max-width: 1200px; border-radius: 1rem; background-color: #fff; }
.mypage__modal--picture{ position: relative; width: 114px; height: 114px; border-radius: 70%; overflow: hidden; }
.mypage__modal--picture-img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.mypage__modal--nick{ margin-top: 1rem; font-size: 1.5rem; font-weight: 500; width: 250px; border-bottom: 1px solid var(--main-black1); text-align: center; }
.mypage__modal--comment{ margin-top: 2.5rem; padding-bottom: 0.875rem; width: 500px; height: 40px; font-size: 1rem; border-bottom: 1px solid var(--main-black1); text-align: center; display: flex; flex-direction: column; justify-content: flex-end; align-items: center; resize: none; }
.mypage__modal--select{ margin-top: 2.75rem; width: 500px; display: grid; grid-template-columns: 1fr 1fr; column-gap: 28px; }
.mypage__modal--select > *{ cursor: pointer; padding: 0.875rem 0; border-radius: 8px; width: 100%; font-size: 20px; }
.mypage__modal--select-cancel{ border: 1px solid var(--main-black1); }
.mypage__modal--select-done{ border: 1px solid var(--main-color2); background-color: var(--main-color2); }

.mypage{ position: relative; max-width: 1200px; width: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; }
.mypage__header{ padding: 3rem 0; width: 100%; height: 400px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.mypage__user--pic{ position: relative; width: 120px; height: 120px; border-radius: 70%; overflow: hidden; }
.mypage__user--pic-img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.mypage__user--info{ display: flex; flex-direction: column; place-items: center; }
.mypage__user--nickBox{ position: relative; margin-top: 0.625rem; }
.mypage__user--nick{ font-size: 1.5rem; font-weight: 500; }
.mypage__user--edit{ cursor: pointer; position: absolute; right: 0; top: 50%; transform: translate(150%, -50%); }
.mypage__user--add{ margin-top: 0.625rem; font-size: 1.125rem; font-weight: 500; }
.mypage__user--comment{ margin-top: 1rem; width: 500px; font-size: 1rem; font-weight: 400; }
.mypage__user--status{ margin-top: 20px; width: 100%; display: flex; justify-content: center; align-items: center; }
.mypage__user--status-bar{ position: relative; width: 50%; height: 20px; border-radius: 20px; background-color: #E9F5F6; overflow: hidden; }
.mypage__user--status-number{ transition: 1.5s ease-in-out; position: absolute; left: 0; top: 0; height: 100%; width: 0%; background-color: aquamarine; }

.mypage__nav{ width: 100%; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; border-top: 1px solid var(--main-black1); border-bottom: 1px solid var(--main-black1); }
.mypage__nav--menu{ padding: 1rem 0; cursor: pointer; width: 100%; display: flex; justify-content: center; align-items: center; font-size: 1.5rem; font-weight: 500; border-bottom: 8px solid rgba(0, 0, 0, 0) }
.mypage__nav--menu.active{ border-bottom: 8px solid var(--main-color1); }

.mypage__subFunction--wrapper{ width: 100%; display: flex; justify-content: flex-end; align-items: center; }
.missions__subFunction{ width: 100%; display: none; justify-content: flex-end; align-items: center; }
.missions__subFunction.active{ display: flex; }
.missions__filter{ margin-top: 26px; padding: 10px 20px; width: 178px; background-color: var(--main-color1); border-radius: 8px; }
.missions__filter--select{ width: 100%; color: #fff; font-size: 1.25rem; font-weight: 400; }

.mypage__contents{ position: relative; width: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; }

.missions__wrapper{ margin-top: 2.375rem; width: 100%; display: none; grid-template-columns: 1fr 1fr 1fr 1fr; row-gap: 34px; column-gap: 40px; }
.missions__wrapper.active{ display: grid; }
.missions__list{ margin-bottom: 1.625rem; padding-bottom: 1.75rem; width: 100%; opacity: 0; transform: translateY(2rem); transition: all 600ms ease-in-out; border-bottom: 2px solid #000; }
.missions__list--image{ position: relative; width: 100%; height: 304px; overflow: hidden; border-radius: 0.75rem; }
.missions__list--image img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.missions__list--image-opacity{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; background-color: rgba(0, 0, 0, 0.15); }
.missions__list--info{ width: 100%; display: grid; grid-template-rows: repeat(3, 0.5fr); place-items: flex-start; row-gap: 10px; background-color: #fff; }
.missions__list--info > *{ margin-top: 1.25rem; }
.missions__list--info-hash{ width: 100%; height: 32px; display: flex; flex-wrap: wrap; overflow: hidden; }
.missions__list--hash-text{ margin-right: 0.65rem; padding: 0.25rem 1rem; max-width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 0.25rem; background-color: var(--main-color3); color: var(--main-white); font-size: 16px; font-weight: 400; }
.missions__list--info-title{ width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.25rem; font-weight: 700; }
.missions__list--info-writer{ margin-top: 0.875rem; font-size: 1.125rem; font-weight: 400; }   

.account__wrapper{ padding: 40px 0px; width: 100%; display: none; justify-content: center; align-items: center; }
.account__wrapper.active{ display: flex; }
.missions__account{ padding: 0 1.125rem; display: grid; grid-template-rows: repeat(5, 1fr); width: 100%; border-radius: 1.125rem; border: 1px solid var(--main-color3); }
.missions__account--item{ padding: 1.75rem 1.25rem; display: grid; grid-template-columns: 1fr 8fr; place-items: center flex-start; border-left: 8px solid rgba(0, 0, 0, 0); border-bottom: 1px solid var(--main-black1); }
.missions__account--item:hover{ border-left: 8px solid var(--main-color2); }
.missions__account--item-title{ font-size: 1.125rem; font-weight: 400; }
.missions__account--item-content{ font-size: 1.5rem; font-weight: 400; }

.status__wrapper{ display: none; }
.status__wrapper.active{ display: grid; margin-top: 28px; width: 100%; grid-template-rows: repeat(auto-fit, auto); }
.status__header{ padding: 18px 20px; width: 100%; display: grid; grid-template-columns: 4fr 1fr 1fr 1fr; background-color: var(--main-color2); border-top-left-radius: 18px; border-top-right-radius: 18px; }
.status__header--text:first-child{ text-align: left; }
.status__header--text{ font-size: 22px; font-weight: 500; text-align: center; }

.status__contents{ padding: 22px 20px; width: 100%; display: grid; grid-template-columns: 4fr 1fr 1fr 1fr; place-items: center; border-bottom: 1px solid var(--main-black1); }
.status__contents--text:first-child{ text-align: left !important; place-self: start; }
.status__contents--text{ font-size: 20px; font-weight: 400; text-align: center; }
.status__contents--button{ cursor: pointer; border-radius: 8px; width: 100px; font-size: 20px; font-weight: 400; text-align: center; background-color: var(--main-color2); }

.agent__modal{ position: fixed; left: 0; top: 0; z-index: 50; width: 100%; height: 100vh; display: none; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(2px); }
.agent__form{ width: 1200px; display: grid; grid-template-rows: 5fr 1fr; }
.agent__contents{ padding: 24px 20px; padding-bottom: 0; border-radius: 18px; width: 100%; background-color: #fff; display: grid; grid-template-rows: 4fr 1fr; }
.agent__users{ padding-bottom: 12px; border-bottom: 1px solid var(--main-black1); display: grid; grid-template-columns: repeat(5, 1fr); grid-template-rows: 1fr 1fr; column-gap: 20px; row-gap: 10px; overflow-y: auto; }
.agent__users--user{ cursor: pointer; border-radius: 14px; display: flex; justify-content: center; align-items: center; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); }
.agent__users--user:hover{ transition: 300ms ease-in-out; background-color: #E9F5F6; box-shadow: none; }
.agent__users--user.active{ background-color: #E9F5F6; box-shadow: none; }
.agent__users--user-pic{ margin-right: 16px; position: relative; width: 46px; height: 46px; border-radius: 70%; overflow: hidden; }
.agent__users--user-pic img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.agent__numbering--wrapper{ display: flex; justify-content: flex-start; align-items: center; }
.agent__numbering--wrapper-user{ margin-right: 8px; position: relative; width: 32px; height: 32px; border-radius: 70%; overflow: hidden; }
.agent__numbering--wrapper-user img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.agent__numbering{ padding: 0px 10px; display: flex; justify-content: space-between; align-items: center; }
.agent__numbering--text{ font-size: 20px; font-weight: 500; }
.agent__bottom{ margin-top: 18px; width: 100%; display: flex; justify-content: flex-end; align-items: center; }
.agent__bottom--cancel{ cursor: pointer; font-size: 20px; padding: 10px 50px; border-radius: 8px; background-color: #fff; }
.agent__bottom--select{ cursor: pointer; font-size: 20px; margin-left: 20px; padding: 10px 50px; border-radius: 8px; background-color: var(--main-color2); }
.agent__bottom--cancel:hover{ transition: 300ms ease-in-out; filter: brightness(1.1); }
.agent__bottom--select:hover{ transition: 300ms ease-in-out; filter: brightness(1.1); }

.send__modal{ position: fixed; left: 0; top: 0; z-index: 50; width: 100%; height: 100vh; display: none; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.5); }
.send__wrapper{ position: relative; width: 1200px; height: 770px; display: grid; grid-template-columns: 1fr 1fr; column-gap: 40px; }
.send__modal--cancel{ cursor: pointer; position: absolute; left: 100%; top: 0; transform: translateX(100%); }
.send__left{ display: grid; grid-template-rows: 1fr 1.5fr; background-color: #fff; height: 100%; border-radius: 20px; overflow: hidden; }
.send__left--thum{ position: relative; width: 100%; max-height: 100%; }
.send__left--thum-img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.send__left--contents{ padding: 18px 28px;  position: relative; width: 100%; max-height: 100%; }
.send__left--title{ padding-bottom: 14px; border-bottom: 1px solid var(--main-black1); }
.send__left--title-text{ font-size: 24px; font-weight: 700; }
.send__left--hash{ padding: 10px 0px; width: 100%; display: flex; flex-wrap: wrap; overflow: hidden; border-bottom: 1px solid var(--main-black1); }
.send__left--hash-text{ margin-right: 0.65rem; padding: 0.25rem 1rem; max-width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 0.25rem; background-color: var(--main-color1); color: var(--main-white); font-size: 16px; font-weight: 400; }
.send__left--textarea{ padding: 10px 0px; border-bottom: 1px solid var(--main-black1); }
.send__left--textarea-text{ max-width: 100%; height: 144px; background-color: #E9F5F6; overflow-y: auto; }
.send__left--cond{ padding: 10px 0px; border-bottom: 1px solid var(--main-black1); }
.send__left--cond-text{ font-size: 16px; font-weight: 400; }
.send__left--done{ padding: 10px 0px; border-bottom: 1px solid var(--main-black1); }
.send__left--done-text{ font-size: 16px; font-weight: 400; }
.send__left--writer{ padding: 10px 0px; display: flex; justify-content: flex-end; align-items: center; }
.send__left--writer-text{ font-size: 18px; font-weight: 400; }
.send__right{ display: grid; grid-template-rows: 1fr 10fr 1fr; background-color: #fff; height: 100%; border-radius: 20px; overflow: hidden; place-items: center; }
.send__right--title{ padding-top: 12px; padding-bottom: 6px; width: 182px; text-align: center; border-bottom: 1px solid var(--main-color2); }
.send__right--title-text{ width: 100%; border-bottom: 1px solid var(--main-color2); font-size: 28px; font-weight: 500; }
.send__right--contents{ padding: 0px 28px; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; }
.send__right--subject{ padding: 14px 0px; width: 100%; border-bottom: 1px solid var(--main-black1); }
.send__right--subject-text{ font-size: 24px; font-weight: 700; }
.send__right--hash{ padding: 12px 0px; width: 100%; display: flex; flex-wrap: wrap; overflow: hidden; border-bottom: 1px solid var(--main-black1); }
.send__right--hash-text{ margin-right: 0.65rem; padding: 0.25rem 1rem; max-width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 0.25rem; background-color: var(--main-color1); color: var(--main-white); font-size: 16px; font-weight: 400; }
.send__right--writer{ padding: 12px 0px; width: 100%; display: flex; justify-content: flex-start; align-items: flex-start; border-bottom: 1px solid var(--main-black1); }
.send__right--writer-text{ font-size: 16px; font-weight: 400; }
.send__right--file{ padding: 12px 0px; width: 100%; display: flex; justify-content: flex-start; align-items: flex-start; border-bottom: 1px solid var(--main-black1); }
.send__right--file-input{ display: none; }
.send__right--file-btn{ cursor: pointer; }
.done__compensation--file-name{ margin-left: 0.65rem; padding: 0.25rem 1rem; max-width: 8rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 0.25rem; background-color: rgba(144, 163, 203, 0.2);  font-size: 16px; font-weight: 400; }
.send__right--textarea{ padding: 12px 0px; width: 100%; border-bottom: 1px solid var(--main-black1); }
.send__right--textarea-text{ resize: none; width: 100%; height: 208px; background-color: #E9F5F6; font-size: 16px; font-weight: 400; }
.send__right--cond{ padding: 10px 0px; width: 100%; border-bottom: 1px solid var(--main-black1); }
.send__right--cond-text{ font-size: 16px; font-weight: 400; }
.send__right--confirm{ position: relative; width: 100%; height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.send__right--date{ font-size: 20px; font-weight: 400; }
.send__right--nick{ font-size: 18px; font-weight: 400; transform: translateX(120%); }
.send__right--stamp{ cursor: pointer; position: absolute; bottom: 0; right: 0; width: 70px; height: 70px; border-radius: 70%; border: 1px solid #000; display: flex; justify-content: center; align-items: center; background-color: #fff; }
.send__right--submit{ transition: 300ms ease-in-out; cursor: pointer; width: 100%; height: 100%; transform: scale(1.05); background-color: var(--main-color2); font-size: 22px; font-weight: 400; }
.send__right--submit:hover{ filter: brightness(1.1); }

.done__modal{ position: fixed; left: 0; top: 0; z-index: 50; width: 100%; height: 100vh; display: none; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.5); }
.done__wrapper{ position: relative; width: 1200px; height: 770px; display: grid; grid-template-columns: 1fr 1fr; column-gap: 40px; }
.done__modal--cancel{ cursor: pointer; position: absolute; left: 100%; top: 0; transform: translateX(100%); }
.done__left{ display: grid; grid-template-rows: 1fr 1.5fr; background-color: #fff; height: 100%; border-radius: 20px; overflow: hidden; }
.done__left--thum{ position: relative; width: 100%; max-height: 100%; }
.done__left--thum-img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.done__left--contents{ padding: 18px 28px;  position: relative; width: 100%; max-height: 100%; }
.done__left--title{ padding-bottom: 14px; border-bottom: 1px solid var(--main-black1); }
.done__left--title-text{ font-size: 24px; font-weight: 700; }
.done__left--hash{ padding: 10px 0px; width: 100%; display: flex; flex-wrap: wrap; overflow: hidden; border-bottom: 1px solid var(--main-black1); }
.done__left--hash-text{ margin-right: 0.65rem; padding: 0.25rem 1rem; max-width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 0.25rem; background-color: var(--main-color1); color: var(--main-white); font-size: 16px; font-weight: 400; }
.done__left--textarea{ padding: 10px 0px; border-bottom: 1px solid var(--main-black1); }
.done__left--textarea-text{ max-width: 100%; height: 144px; background-color: #E9F5F6; overflow-y: auto; }
.done__left--cond{ padding: 10px 0px; border-bottom: 1px solid var(--main-black1); }
.done__left--cond-text{ font-size: 16px; font-weight: 400; }
.done__left--done{ padding: 10px 0px; border-bottom: 1px solid var(--main-black1); }
.done__left--done-text{ font-size: 16px; font-weight: 400; }
.done__left--writer{ padding: 10px 0px; display: flex; justify-content: flex-end; align-items: center; }
.done__left--writer-text{ font-size: 18px; font-weight: 400; }
.done__right{ display: grid; grid-template-rows: 1fr 10fr 1fr; background-color: #fff; height: 100%; border-radius: 20px; overflow: hidden; place-items: center; }
.done__right--title{ padding-top: 12px; padding-bottom: 6px; width: 182px; text-align: center; border-bottom: 1px solid var(--main-color2); }
.done__right--title-text{ width: 100%; border-bottom: 1px solid var(--main-color2); font-size: 28px; font-weight: 500; }
.done__right--contents{ padding: 0px 28px; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; }
.done__right--subject{ padding: 14px 0px; width: 100%; border-bottom: 1px solid var(--main-black1); }
.done__right--subject-text{ font-size: 24px; font-weight: 700; }
.done__right--hash{ padding: 12px 0px; width: 100%; display: flex; flex-wrap: wrap; overflow: hidden; border-bottom: 1px solid var(--main-black1); }
.done__right--hash-text{ margin-right: 0.65rem; padding: 0.25rem 1rem; max-width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 0.25rem; background-color: var(--main-color1); color: var(--main-white); font-size: 16px; font-weight: 400; }
.done__right--writer{ padding: 12px 0px; width: 100%; display: flex; justify-content: flex-start; align-items: flex-start; border-bottom: 1px solid var(--main-black1); }
.done__right--writer-text{ font-size: 16px; font-weight: 400; }
.done__right--picture{ margin: 12px 0px; position: relative; width: 100%; height: 250px; }
.done__right--picture-img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.done__right--textarea{ padding: 12px 0px; width: 100%; border-top: 1px solid var(--main-black1); border-bottom: 1px solid var(--main-black1); }
.done__right--textarea-text{ overflow-y: auto; width: 100%; height: 100px; background-color: #E9F5F6; font-size: 16px; font-weight: 400; }
.done__right--cond{ padding: 10px 0px; width: 100%; border-bottom: 1px solid var(--main-black1); }
.done__right--cond-text{ font-size: 16px; font-weight: 400; }
.done__right--confirm{ position: relative; width: 100%; height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.done__right--date{ font-size: 20px; font-weight: 400; }
.done__right--nick{ font-size: 18px; font-weight: 400; transform: translateX(120%); }
.done__right--stamp{ cursor: pointer; position: absolute; bottom: 0; right: 0; width: 70px; height: 70px; border-radius: 70%;display: flex; justify-content: center; align-items: center; background-color: #fff; }
.done__right--submit{ transition: 300ms ease-in-out; cursor: pointer; width: 100%; height: 100%; transform: scale(1.05); background-color: var(--main-color2); font-size: 22px; font-weight: 400; }
.done__right--submit:hover{ filter: brightness(1.1); }
.done__right--stamp-select{ position: absolute; z-index: 10; left: -100%; top: 50%; transform: translate(-70%, -50%); padding: 10px; width: 200px; display: grid; column-gap: 20px; grid-template-columns: repeat(3, 1fr); place-items: center; background-color: #fff; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); }
.done__right--stamp-item{ position: absolute; z-index: 5; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; border-radius: 70%; }

.doneMission__modal{ position: fixed; left: 0; top: 0; z-index: 50; width: 100%; height: 100vh; display: none; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.5); }
.doneMission__wrapper{ position: relative; width: 1200px; height: 770px; display: grid; grid-template-columns: 1fr 1fr; column-gap: 40px; }
.doneMission__modal--cancel{ cursor: pointer; position: absolute; left: 100%; top: 0; transform: translateX(100%); }
.doneMission__left{ display: flex; flex-direction: column; justify-content: flex-start; align-items: center; background-color: #fff; height: 100%; border-radius: 20px; overflow: hidden; }
.doneMission__left--thum{ position: relative; width: 100%; height: 258px; }
.doneMission__left--thum-img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.doneMission__left--contents{ padding: 18px 28px; position: relative; width: 100%; max-height: 100%; }
.doneMission__left--title{ padding-bottom: 14px; border-bottom: 1px solid var(--main-black1); }
.doneMission__left--title-text{ font-size: 24px; font-weight: 700; }
.doneMission__left--hash{ padding: 10px 0px; width: 100%; display: flex; flex-wrap: wrap; overflow: hidden; border-bottom: 1px solid var(--main-black1); }
.doneMission__left--hash-text{ margin-right: 0.65rem; padding: 0.25rem 1rem; max-width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 0.25rem; background-color: var(--main-color1); color: var(--main-white); font-size: 16px; font-weight: 400; }
.doneMission__left--textarea{ padding: 10px 0px; border-bottom: 1px solid var(--main-black1); }
.doneMission__left--textarea-text{ max-width: 100%; height: 144px; background-color: #E9F5F6; overflow-y: auto; }
.doneMission__left--cond{ padding: 10px 0px; border-bottom: 1px solid var(--main-black1); }
.doneMission__left--cond-text{ font-size: 16px; font-weight: 400; }
.doneMission__left--done{ padding: 10px 0px; border-bottom: 1px solid var(--main-black1); }
.doneMission__left--done-text{ font-size: 16px; font-weight: 400; }
.doneMission__left--writer{ padding: 10px 0px; display: flex; justify-content: flex-end; align-items: center; }
.doneMission__left--writer-text{ font-size: 18px; font-weight: 400; }
.doneMission__right{ display: flex; flex-direction: column; justify-content: flex-start; align-items: center; background-color: #fff; height: 100%; border-radius: 20px; overflow: hidden; }
.doneMission__right--thum{ position: relative; width: 100%; height: 258px; }
.doneMission__right--thum-img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.doneMission__right--contents{ padding: 18px 28px; position: relative; width: 100%; }
.doneMission__right--title{ padding-bottom: 14px; border-bottom: 1px solid var(--main-black1); }
.doneMission__right--title-text{ font-size: 24px; font-weight: 700; }
.doneMission__right--hash{ padding: 10px 0px; width: 100%; display: flex; flex-wrap: wrap; overflow: hidden; border-bottom: 1px solid var(--main-black1); }
.doneMission__right--hash-text{ margin-right: 0.65rem; padding: 0.25rem 1rem; max-width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 0.25rem; background-color: var(--main-color1); color: var(--main-white); font-size: 16px; font-weight: 400; }
.doneMission__right--textarea{ padding: 10px 0px; border-bottom: 1px solid var(--main-black1); }
.doneMission__right--textarea-text{ max-width: 100%; height: 144px; background-color: #E9F5F6; overflow-y: auto; }
.doneMission__right--cond{ padding: 10px 0px; border-bottom: 1px solid var(--main-black1); }
.doneMission__right--cond-text{ font-size: 16px; font-weight: 400; }
.doneMission__right--done{ padding: 10px 0px; border-bottom: 1px solid var(--main-black1); }
.doneMission__right--done-text{ font-size: 16px; font-weight: 400; }
.doneMission__right--writer{ padding: 10px 0px; display: flex; justify-content: flex-end; align-items: center; }
.doneMission__right--date-text{ font-size: 18px; font-weight: 400; }
.doneMission__right--writer-text{ font-size: 18px; font-weight: 400; }
.done__right--stamp{ position: relative; display: flex; justify-content: center; align-items: center; width: 90px; height: 90px; }
.done-stamp{ display: none; }