/* 상단 컨텐츠 CSS */
.contents{ position: relative; padding-top: calc(0 + 4.375rem); width: 100%; display: flex; justify-content: center; align-items: flex-start; }

.mypage{ position: relative; max-width: 75rem; width: 100%; }
.mypage__info{ width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.mypage__info--background{ position: relative; width: 100%; height: 15.88rem; }
.mypage__info--background-img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.mypage__info--major{ padding: 1.5rem 4.375rem; padding-right: 2.125rem; width: 100%; display: flex; }
.mypage__info--picture{ position: relative; width: 9.125rem; height: 9.125rem; overflow: hidden; border-radius: 70%; transform: translateY(-4.375rem); }
.mypage__info--picture-img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.mypage__info--text{ margin-left: 1.875rem; width: 100%; max-width: 56.25rem; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: flex-start; align-items: flex-start; }
.mypage__info--text-nick{ font-size: 1.5rem; font-weight: 500; }
.mypage__info--text-intro{ margin-top: 1.5rem; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 100%; height: 3rem; font-size: 1.125rem; font-weight: 300; white-space: normal; }


/* 폴더 컨텐츠 CSS */
.mypage__folder{ position: relative; width: 100%; height: 400px; padding-top: 0.875rem; padding-bottom: 5rem; display: flex; justify-content: center; align-items: center; }
.folders{ position: absolute; width: 15rem; opacity: 0; }
.folders.active{ transition: 600ms ease-in-out; opacity: 1; }
.folders.prev-card{ left: 50%; transform: translateX(-210%) translateY(0rem); }
.folders.current-card{ left: 50%; transform: translateX(-50%) translateY(0rem); width: 26.5rem; }
.folders.current-card svg{ fill: #f5ce33; filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.8)); }
.folders.current-card .mypage__folder--content{ display: flex; animation: fadeUp 600ms ease-in-out forwards; animation-delay: 600ms; }
.folders.next-card{ left: 50%; transform: translateX(110%) translateY(0rem); }
.folders svg{ fill: #fff; max-width: 100%; filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.4)); }
.folders.current-card .mypage__folder--info-name{ font-size: 1.5rem; }
.mypage__folder--info{ position: absolute; left: 0; bottom: 1rem; padding: 0px 1.625rem; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-start; }
.mypage__folder--info-title{ font-size: 0.875rem; font-weight: 100; text-transform: uppercase; }
.mypage__folder--info-name{ font-size: 1.125rem; font-weight: 400; }
.mypage__folder--content{ transform: translateY(20%); opacity: 0; width: 100%; height: 9.125rem; display: none; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; }
.mypage__folder--content-person{ width: 3.5rem; height: 3.5rem; border-radius: 70%; overflow: hidden; position: relative; margin-bottom: 0.875rem; margin-right: 0.625rem; background-color: royalblue; }


/* 해당 폴더 현황 CSS */
.request__current{ margin-top: 2.25rem; margin-bottom: 6.25rem; width: 100%; display: none; flex-direction: column; justify-content: center; align-items: center; }
.request__current.current{ display: flex; }
.request__current--list{ width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; border-top: 0.0625rem solid var(--main-black2); }
.request__current--list:last-child{ border-bottom: 0.0625rem solid var(--main-black2); }
.request__current--list.active .request__current--list-arrow{ transform: rotate(-180deg); }
.request__current--list-header{ padding: 1.625rem 1.75rem; width: 100%; display: flex; justify-content: space-between; align-items: center; }
.request__current--list-arrow{ cursor: pointer; }
.request__current--list-wrap{ padding-bottom: 1.75rem; width: 100%; display: none; grid-template-rows: 1fr; transform: translateY(-20%); opacity: 0; }
.request__current--list-wrap.picture{ grid-template-columns: repeat(5, 14rem); column-gap: 1.25rem; }
.request__current--list.active .request__current--list-wrap{ display: grid; animation: fadeDown 600ms ease-in-out forwards; }

.request__current--friend .rcliw__item{ grid-template-columns: auto 20rem; }
.request__current--friend .rcliw__item--select{ display: flex; justify-content: flex-end; align-items: center; }
.rcliw__item{ padding: 1.25rem 1.75rem; width: 100%; display: grid; grid-template-columns: 2fr 2fr 1fr 0.5fr; justify-content: space-between; align-items: center; border-radius: 0.375rem; }
.rcliw__item:hover{ transition: 300ms ease-in-out; background-color: #E8F4F6; }
.rcliw__item--wrap{ display: flex; justify-content: flex-start; align-items: center; }
.rcliw__item--wrap > *{ margin-right: 4rem; }
.rcliw__item--date{ display: flex; justify-content: center; align-items: center; }
.rcliw__item--picture{ width: 3.125rem; height: 3.125rem; border-radius: 70%; background-color: sandybrown; overflow: hidden; }
.rcliw__item--select{ display: flex; justify-content: center; align-items: center; }
.rcliw__item--select > *{ margin-left: 1rem; padding: 0.625rem 0px; width: 9.75rem; border-radius: 0.625rem; text-align: center; cursor: pointer; }
.rcliw__item--select-accept{ background-color: var(--main-color2); color: #000; }
.rcliw__item--select-cancel{ background-color: var(--main-color3); color: #fff; }

.missions__list{ position: relative; }
.missions__list--image{ position: relative; width: 100%; height: 16rem; }
.missions__list--image img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.missions__list--info > *{ margin-top: 0.875rem; }
.missions__list--info{ padding-right: 1rem; width: 83.25%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; background-color: #fff; transform: translateY(-48px); }
.missions__list--info-title{ font-size: 0.875rem; font-weight: 500; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.missions__list--info-text{ height: 2rem; font-size: 0.75rem; font-weight: 400; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 100%; white-space: normal; }
.missions__list--info-writer{ font-size: 0.625rem; font-weight: 300; }

@keyframes fadeUp{
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fadeDown{
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    
}