.write{ margin-top: 100px; padding: 0px 160px; width: 100%; max-width: 1200px; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; }
.write__input{ width: 100%; color: var(--main-black1); }
.write__input--title{ padding: 20px 0px; font-size: 32px; font-weight: 900; }